/*code obtained from CSS Basics Completed file*/
@font-face {
	font-family: 'Verdana';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Verdana.ttf') format('truetype');
}

@font-face {
	font-family: 'Verdana';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/Verdana-Bold.ttf') format('truetype');
}
