/* 
  STYLE GUIDE -------------------
*/

/* sizes things based on the extent of margins borders and everything */
/* code obtained from class */
* { 
    box-sizing: border-box;
}

body {
    font-family: Verdana, Arial, sans-serif; /* citation: https://www.w3schools.com/css/css_font.asp */
}

section:not([id]) {
    margin: 1rem 0;
    padding: 0.5rem 0;
    border-top: 1px solid rgb(140, 140, 140);
}

section h3 {
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.005rem;
}

section p {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.007rem;
}

section code {
    background-color: #EEE;
    padding: 0.5rem 0.75rem;
}

h1 {
  color: rgb(52,73,94);
  font-size: 2.5rem; 
  font-weight: 700;
  letter-spacing: 0.02rem; 
  margin-bottom: 0;
  line-height: 3rem;
  margin-top: 3rem;
}

#interactive_elements, #text_elements, #sg-title, #combined_elements, 
#goto, #aesthetic_elements {
  margin-left: 1rem;
  margin-right: 1rem;
}

#home {
  margin-bottom: 0rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  background-color: rgb(52,73,94);
}

.box-item-nav-home {
  display: inline-block;
  text-align: center;
}

.nav-home { 
    color: white; /* grey-blue */
    font-size: 2rem;
    letter-spacing: 0.3rem;
    text-decoration: none; /* gets rid of the underline */
    transition: background-color 0.5s;
    position: relative;
    top: 0.4rem;
    left: 1rem;
  }

.nav-home:active, .nav-home:focus, .nav-home:hover {
    color: white; 
}

.nav-main { /* . means class */
  display: inline-block;
    text-align: center;
    color: rgb(124,147,157); /* grey-blue */
    font-size: 1rem;
    letter-spacing: 0.3rem;
    text-decoration: none; /* gets rid of the underline */
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    transition: background-color 0.5s;
    border: 0.5px solid rgb(214,214,214); /* light grey */
    width: 33.33%;  
  }

.nav-main:active, .nav-main:focus, .nav-main:hover {
  color: rgb(52,73,94); /* darker blue */
  background-color: #ccc;
}

/* _________________________________________________________________________________

  code from https://codepen.io/secondfret/pen/GoqLK
_________________________________________________________________________________ */

.logo {
  position: relative;
  top: 0.7rem;
  left: -1rem;
  width: 2.7rem;
  height: 2.7rem;
  padding: 0;
}
/* _________________________________________________________________________________

  nav properties ends 
_________________________________________________________________________________ */


/* _________________________________________________________________________________

  footer properties begins 
_________________________________________________________________________________ */
.footer {
  position: relative;
  width: 100%;
  height: 7rem;
  background-color: rgba(200,200,200, 0.6);
  padding-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.footer p {
  font-size: 0.6rem;
  color: rgb(52,73,94);
  position: relative;
  margin-top: 0;
  padding-top: 0.5rem;
  padding-right: 0;
  padding-left: 0;
  border-top: 0.5px solid rgba(200,200,200, 1); /* light grey */
  width: 34%;
  left: 33%;
}

.first-nav-footer {
  margin-left: 2rem;
}

.footer a {
  display: inline-block;
  text-decoration: none;
  color: rgb(52,73,94);
  margin-right: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 0;
  margin-top: 1rem;
}

.footer a:hover, .footer a:focus, .footer a:active {
  color: #8c8c8c;
}

#footer-pressed {
  color: #8c8c8c;
}

/* _________________________________________________________________________________

  footer properties ends 
_________________________________________________________________________________ */


/* _________________________________________________________________________________

  icon nav properties begin 
_________________________________________________________________________________ */

.nav-icons {
  color: white;
}

.nav-icons:active, .nav-icons:focus, .nav-icons:hover {
  color: #8c8c8c;
}

.account {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4rem;
}

.account, .shopping-cart {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.shopping-cart {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4rem;
}

/*.lnr-magnifier {
  position: absolute;
  top: 2.7rem;
  right: 8rem;
  font-size: 1.4rem;
}*/
/* _________________________________________________________________________________

  icon nav properties ends 
_________________________________________________________________________________ */

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
    display: inline-block;
    padding: 0.65em 0.65em;
    color: #F2F2F2;
    background-color: #333333;
    border-radius: 0em;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
    text-align: center;
    font-weight: 300;
    font-size: 0.7rem;
}

.button-nav:hover, .button-nav:focus {
    background-color: #5E6C72;
}

.delete-nav {
    display: inline-block;
    padding: 0.65em 0.65em;
    color: #F2F2F2;
    background-color: #7C939D;
    border-radius: 0em;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
    text-align: center;
    font-weight: 300;
    font-size: 0.7rem;
    cursor: pointer;

    width: 4rem;
}

.delete-nav:hover, .delete-nav:focus {
    background-color: #5E6C72;
    color: white;
}

/* Styling for the Submit/Reset Button */
.submit-button {
    background-color: white;
    border: 0.5px solid rgb(140, 140, 140);
    border-radius: 3px;
    color: rgb(124,147,157);
    padding: 6px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: lighter;
    cursor: pointer;

    transition: background-color 0.5s ease-out;
}

/* ////////// code from https://www.w3schools.com/css/css3_buttons.asp ////////// */
.submit-button:active, .submit-button:focus, .submit-button:hover {
    background-color: rgb(140, 140, 140);
    border: 0.5px solid rgb(140, 140, 140);
    color: white;
    padding: 6px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: lighter;

    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.disabled-submit-button {
    opacity: 0.6;
    padding: 6px 45px;
    border-radius: 3px;
    border: 0.5px solid rgb(92, 92, 92);
    cursor: not-allowed;
    font-weight: lighter;
}

/*code from https://www.w3schools.com/howto/howto_css_animated_search.asp*/
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 20%;
}

/* 
  TEXT ELEMENTS -------------------
*/

.content-h1 {
    color: rgb(52,73,94);
    font-size: 2.5rem; /* em is a proportional unit but proportional to its parent size */
    font-weight: 700;
    letter-spacing: 0.02rem; /*code from https://www.w3schools.com/cssref/pr_text_letter-spacing.asp*/
}

.content-h2 {
    color: rgb(140, 140, 140);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

.content-h3 {
    color: rgb(92, 92, 92);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
}

/*code from https://www.w3schools.com/css/css_list.asp*/
.bullet-list {
    list-style-type: circle;
}

/* 
  COMBINED ELEMENTS -------------------
*/

/* code obtained from the inspector of this example 
https://css-tricks.com/examples/NumberedFAQ/ */
.faq {
  counter-reset: my-counter;
}

.faq dt {
  position: relative;
  font: bold 16px Verdana;
  padding: 4px 0 3px 0;
}

.faq dt:before {
  content: counter(my-counter, decimal-leading-zero);
  counter-increment: my-counter;
  position: absolute;
  left: 0;
  top: 0;
  font: bold 50px/1 Sans-Serif;
}

.faq dd {
  margin: 0 0 40px 0;
} 

.faq dt, .faq dd {
  padding-left: 65px;
}

/* ________________________________________________________________________________

  shop compound begins 
  code obtained from week 5 lecture example on positioning and responsive images
__________________________________________________________________________________ */
/*code from https://www.w3schools.com/css/css3_images.asp*/

.box-item-gallery-compound {
    margin: 1rem;
}

.box-item-gallery-compound img {
    width: 100%;
    height: auto;
  padding: 0;
    float: left;
    margin-left: 0;
    border: 0.5px solid #ccc;
}

.box-item-gallery-compound img:hover  {
    border: 0.5px solid black;
}

.shop-caption {
  position: relative;
  margin: 0;
}

.shop-compound img {
    width: 100%;
    height: auto;
    padding: 0;
}

/*code from https://www.w3schools.com/css/css3_images.asp*/
#shop-bow {
    margin: 1rem;
    margin-bottom: 3rem;
}

.shop-bow {
  padding: 0;
}

/*
  A reminder that a space between the two selectors below '.caption-inside' and 'figcaption' indicates only 'figcaptions' that are children of '.caption-inside' elements will be styled as specified
*/
.shop-caption figcaption {
  /*
    Positioning an element as 'absolute' sets it to be positioned absolutely to the last parent element with a positioning set (other then static).

    As <figcaption> is the child of .caption-inside, which is positioned relative, <figcaption> is then positioned absolutely to .caption-inside based on the top, right, bottom, and left values set.
  */
  position: absolute;
  /*
    By setting a bottom value of 0.5rem, we are introducing a bit of space between the bottom edge of the caption and the image.
  */
  bottom: 0.5rem;
  top: 12.5rem;
  padding-top: 0.75rem;
  padding-right: 0.25rem;
  /*
    To help ensure that the content in our caption is readable, we can use a black background with some opacity and white text to increase the contrast.
  */
  width: 200px;
  height: 30px;
  color: white;
  text-align: right;
  font-size: 0.8rem;
  background-color: rgba(92, 92, 92, 0.8);

  margin-right: 3rem;
  margin-bottom: 3rem;
}

.quickview-nav {
  display: inline-block;
  float: right;
  margin-right: 1.6rem;
}

.quick-view-nav {
  display: inline-block;
  margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 0.93rem;
    margin-bottom: 1rem;
    padding: 0.75em 0.75em;
    color: #F2F2F2;
    background-color: #333333;
    border-radius: 0em;
    text-decoration: none;
  /*-webkit-transition: background-color 0.5s ease-out;*/
    transition: background-color 0.5s ease-out;
    text-align: center;
    font-weight: 300;
    font-size: 0.7rem;

    width: 7rem;
}

.quick-view-nav:hover, .quick-view-nav:focus {
    background-color: #5E6C72;
    color: white;
}

.cart-nav {
  display: inline-block;
  margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.75em 0.75em;
    color: #F2F2F2;
    background-color: #333333;
    border-radius: 0em;
    text-decoration: none;
  /*-webkit-transition: background-color 0.5s ease-out;*/
    transition: background-color 0.5s ease-out;
    text-align: center;
    font-weight: 300;
    font-size: 0.7rem;

    width: 7rem;
}

.cart-nav:hover, .cart-nav:focus {
    background-color: #5E6C72;
    color: white;
}
/* _________________________________________________________________________________

  shop compound ends
  shop pages properties ends 
_________________________________________________________________________________ */

.box-item-icons {
  color: white;
}

.box-item-icons:active, .box-item-icons:hover, .box-item-icons:focus {
  color: #8c8c8c;
}

.lnr-user {
  position: absolute;
  top: 2.7rem;
  right: 2rem;
  font-size: 1.4rem;
}

.account, .shopping-cart {
  padding: 0;
  margin: 0;
}

.lnr-cart {
  position: absolute;
  top: 2.7rem;
  right: 5rem;
  font-size: 1.4rem;
}





.box-item-colours {
  color: white;
  text-align: center;
  display: block;
  width: 119px;
  height: 119px;
  padding-top: 2rem;
  border-radius: 5px;
  margin: 0.5rem;
}

.box-item-colours p {
  font-size: 0.8rem;
}

.gray1 {
  background-color: rgb(200,200,200);
}

.gray2 {
  background-color: rgb(140, 140, 140);
}

.gray3 {
  background-color: rgb(92, 92, 92);
}

.tinted3 {
  background-color: rgb(124,147,157);
}

.blue3 {
  background-color: rgb(52,73,94);
}

/* ////////// image mapping properties begins ////////// */

.box-item-map-container img{
  width: 50%;  
  height: auto;
}

/*code from https://codepen.io/CreativeJuiz/pen/BiHzp*/
/* checkbox aspect */
#switch:not(:checked) {
  content: '';
  position: absolute;
  left: 110px;
  width: 4em; 
  height: 3.25em;
  cursor: pointer;
  opacity: 0;
}

#switch:checked {
 position: absolute;
 content: url('http://www.sfu.ca/~jal32/IAT339/Wireframe%20Images/P02/crossbow.jpg'); 
 width: 50%;
 height: 23rem;
 left: 1rem;
}
/* ////////// image mapping properties ends ////////// */

