/*code learned in class*/
.box {
	display: flex;
	flex-wrap: wrap;
}

.box-item-nav {
	flex: 1 1 auto;
}

.box-item-nav-home {
	flex: 1 1 auto;
}

.box-item-profile {
  flex: 1 1 auto;
}

.box-item-home-placeholder {
  flex: 1 1 100%;
}

.box-item-code {
  	flex: 1 1 auto;
}

.box-item-gallery {
	flex: 1 1 20%;
}

.box-item-gallery-compound {
	flex: 1 1 20%;
}

.box-item-gallery-arrows {
	flex: 1 1 20%;
}

.box-item-gallery-crossbow {
	flex: 1 1 20%;
}

.box-item-gallery-quiver {
	flex: 1 1 20%;
}

.box-item-colours {
  	flex: 1 1 auto;
}

.box-item-icons {
  	flex: 1 1 auto;
}

.box-item-wireframes {
  	flex: 1 1 auto;
}

.box-item-larger-wireframes {
  	flex: 1 1 auto;
}

.box-item-sitemap {
    flex: 1 1 auto;
}

.box-item-citations {
  	flex: 1 1 auto;
}

.box-item-map-container {
    flex: 1 1 auto;
}

.box-shape-container {
    flex: 1 1 auto;
}


/*allows css to request information about the web browser*/
/*if the width of the web browser is less than 30em then we add new rules*/
@media (max-width: 30em) {
  	/*rule to change the behaviour*/
  	.box-item-nav, .box-item-nav-home, .box-item-profile, .box-item-home-placeholder, 
    .box-item-code, .box-item-gallery, .box-item-gallery-compound, .box-item-gallery-arrows, 
    .box-item-gallery-crossbow, .box-item-gallery-quiver, .box-item-colours, .box-item-icons, 
    .box-item-wireframes, .box-item-larger-wireframes, .box-item-sitemap, 
    .box-item-citations, .box-item-map-container, .box-shape-container {
    /*if we get to a certain size then just become the width of the whole page*/
    flex: 0 0 100%; 
  }

	input[type=text]:focus {
    	width: 50%;
	}

  .lnr-magnifier, .lnr-user, .lnr-cart {
    position: absolute;
    margin-top: 2rem;
  }

  .box-item-icons {
    margin-right: 6.96rem;
  }

  .box-shape-container {
    margin: 0;
  }

/*  .lnr-user {
    padding-right: 2rem;
  }*/

/*	.nav-main {  . means class 
    	border-right: none;
  }*/
/*  .nav-home {
    display: none;
  }*/
}

