/*sizes things based on the extent of margins borders and everything*/
/*code obtained from class*/
* { 
	box-sizing: border-box;
}

body {
	font-size: 1.25rem;
	font-family: Verdana, Arial, sans-serif; /*citation: https://www.w3schools.com/css/css_font.asp*/
	background-color: white;
	height: auto;
	padding: 1rem;
}

h1 {
	color: rgb(52,73,94);
	font-size: 2.5rem; /* em is a proportional unit but proportional to its parent size */
	font-weight: 700;
	letter-spacing: 0.02rem; /*code from https://www.w3schools.com/cssref/pr_text_letter-spacing.asp*/
	margin-bottom: 0; /* 0 doesnt require units because it will always be 0 */
	line-height: 3rem;
	margin-top: 3rem;
}

h2 {
	color: rgb(140, 140, 140);
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.01rem;
}

h3 {
	color: rgb(124,147,157);
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 0.005rem;
	line-height: 0.2rem;
}

p {
	font-size: 1rem;
	font-weight: 100;
	letter-spacing: 0.007rem;
}

a {
	color: rgb(200, 0, 0);
	transition: color 0.5s;
}

a:hover, a:focus, a:active { /*hover for when using a mouse and focus for when using a keyboard pressing tab*/
	color: rgb(50, 0, 0);
}

section {
	margin-bottom: 3rem;
}

.nav-main { /* . means class */
    text-align: center;
    color: rgb(163,190,202); /* grey-blue */
    font-size: 1rem;
    letter-spacing: 0.3rem;
    text-decoration: none; /* gets rid of the underline */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    transition: background-color 0.5s;
    border-right: 0.5px solid rgb(214,214,214); /* light grey */
  }

.nav-main:active, .nav-main:focus, .nav-main:hover {
    color: rgb(52,73,94); /* darker blue */
}

/*code from https://codepen.io/secondfret/pen/GoqLK*/
.nav-main:last-child {
  border-right: none;
}
/* ////////// nav properties ends ////////// */


/* ////////// citations properties begin ////////// */
.citations {
	padding-top: 1rem;
}
/* ////////// citations properties ends ////////// */


/* ////////// home page icon properties begins ////////// */
.profile {
	font-size: 1.5rem;
	color: rgb(124,147,157);
}

.lnr-store {
	font-size: 1.5rem;
	color: rgb(200,200,200);
}

.lnr-users {
	font-size: 1.4rem;
	color: rgb(200,200,200);
}

.lnr-magic-wand {
	font-size: 1.3rem;
	color: rgb(200,200,200);
}
/* ////////// home page icon properties ends ////////// */


/* ////////// wireframe properties begin ////////// */
.box-item-wireframes {
	padding: 0.5rem;
}

.box-item-larger-wireframes img {
	width: 100%;
	padding: 0.5rem;
}
/* ////////// wireframe properties begin ////////// */

/* ////////// dropdown menu properties begin ////////// */
/* code from https://www.w3schools.com/css/css_dropdowns.asp */
/*.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    top: 3.7rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    background-color: white;
	border: 1px solid rgb(140, 140, 140);
    z-index: 1;
    overflow: auto;
   	font-size: 1rem;
}

.dropdown-content a {
    color: rgb(140, 140, 140);
    padding-left: 9.7rem;
    padding-right: 9.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    display: inline-block;
}

.dropdown-content a:hover {
	background-color: rgb(243,229,173);
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}*/
/* ////////// dropdown menu properties ends ////////// */

